.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-graph {
    width: 45%;
    margin-bottom: 20px;
}

table {
    background-color: white;
    border-bottom: 6px;
    width: 90%;
}

table th {
    background-color: #031052;
    color: white;
    padding: 10px 15px;
    border: 1px solid white;
}

td {
    text-align: center;
    padding: 5px 0;
    border: 1px solid black;
}

.white-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: min-content;
    font-size: 23px;
}

.graph {
    width: 100%;
    box-sizing: border-box;
}

.w45 {
    width: 45%;
}

.mr20 {
    margin-right: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mt50 {
    margin-top: 50px;
}

@media (max-width: 1000px) {
    .w45 {
        width: 90%;
    }

    .ml20 {
        margin-left: 0;
    }

    .mr20 {
        margin-right: 0;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .container-graph {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .container-graph {
        width: 98%;
    }

    .w45 {
        width: 98%;
    }

    table {
        width: 98%;
        font-size: 12px;
    }

    .small-font {
        font-size: 8px;
        word-break: break-all;
    }
}