.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-graph {
    width: 45%;
    margin-bottom: 20px;
}

table {
    background-color: white;
    border-bottom: 6px;
    width: 90%;
}

table th {
    background-color: #031052;
    color: white;
    padding: 10px 15px;
    border: 1px solid white;
}

td {
    text-align: center;
    padding: 5px 0;
    border: 1px solid black;
}

.white-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: min-content;
    font-size: 23px;
}

.graph {
    width: 100%;
    box-sizing: border-box;
}