{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/css/about.css">

    <div class="container">
        <h2>{{ _('О проекте') }}</h2>

        <div style="width: 80%">
            {{ _('Руководителем ПЦФ "Разработка интеллектуальных информационно-телекоммуникационных систем для городской
            инфраструктуры: транспорт, экология, энергетика и аналитика данных в концепте Smart City" (МНВО РК,
                    2021-2023) является <b>Ахмед-Заки Дархан Жумаканович</b>, д.т.н по специальности 05.13.18 Математическое и
                    компьютерное моделирование, h-index=4. Имеет более 150 публикаций, 47 из которых входит в БД Scopus.<br><b>Наименование
                    подпроекта РП-3:</b> Разработка IT решении по оптимизации тепло- и электроэнергетической системы
                    Smart-столицы c применением методов машинного обучения для повышения энергоэффективности и сокращению
                    вредных выбросов.<br><b>Цель и задачи:</b> Разработка IT решении по оптимизации энергетической системы
                    умного города c применением методов машинного обучения для сокращения вредных выбросов. Будут разработаны
                    инструменты принятия решения по оптимизации работы ТЭЦ, теплосети города и системы управления
                    ресурсопотреблением многоквартирного жилого дома.<br><br>Ожидаемые результаты: Будут разработаны по РП-3:
                    инструмент принятия решения по оптимальному выбору состава генерирующего оборудования ТЭЦ; модель теплосети
                    города на основе анализа больших данных приборов телеметрии; информационно-вычислительная система расчета
                    оптимальных режимов работы теплоэнергетического сектора с применением современных методов на основе
                    концепций Virtual Power Plant; прототип системы для управления ресурсопотреблением на примере жилого
                    многоквартирного дома; модули информационно-вычислительной системы для анализа энергоэффективности, потерь,
                    вредных выбросов, определение слепых зон в системе телеметрии, моделирование стохастического профиля
                    потребления.') }}
        </div>
    </div>
{% endblock %}