{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="/static/css/analytics.css">

    <div class="container">
        <div style="font-size: 30px; margin-top: 20px">Аналитика</div>
    </div>

    <div class="container" style="margin-bottom: 50px">
        <div onclick="change_info('info1', 'b1')" class="year-button white-box-button b1 button year-active" style="margin-right: 30px">Астана-РЭК</div>
        <div onclick="change_info('info2', 'b2')" class="year-button white-box-button b2 button">Жилые комплексы</div>
    </div>

    <div class="info1 part">
        <div class="container">
            <h2>Источник: данные АО "Астана РЭК"</h2>
        </div>

        <div class="container">
            <div class="white-box" style="margin-right: 20px; width: 40%;">
                <canvas id="myChart"></canvas>
            </div>

            <div class="white-box" style="width: 50%;">
                <canvas id="myChart3"></canvas>
            </div>
        </div>

        <div class="container">
            <div class="white-box graph" style="margin-right: 20px">
                <canvas id="myChart2"></canvas>
            </div>

            <div class="white-box graph">
                <canvas id="myChart8"></canvas>
            </div>
        </div>

        <div class="container">
            <div class="white-box graph" style="margin-right: 20px;">
                <canvas id="myChart4" class="on-observe4"></canvas>
            </div>

            <div class="white-box graph">
                <canvas id="myChart5" class="on-observe5"></canvas>
            </div>
        </div>
    </div>

    <div class="info2 part">
        <div class="container">
            <div class="white-box big-graph" style="margin-right: 20px">
                <canvas id="myChart6"></canvas>
            </div>

            <div class="white-box graph2">
                <canvas id="myChart7"></canvas>
            </div>
        </div>

        <div class="container">
            <div class="white-box2 white-box-size">
                <div class="scroll-box">
                    {% for i in range(1, 18) %}
                        <img src="/static/img/korona-dom-2.3/img{{ i }}.png" alt="">
                    {% endfor %}
                </div>
            </div>

            <div class="white-box2 white-box-size" style="margin-left: 40px; margin-right: 40px">
                <div class="scroll-box">
                    {% for i in range(1, 39) %}
                        <img src="/static/img/korona-dom-2.4/img{{ i }}.png" alt="">
                    {% endfor %}
                </div>
            </div>

            <div class="white-box2 white-box-size">
                <div class="scroll-box">
                    {% for i in range(1, 9) %}
                        <img src="/static/img/korona-dom-2.6/img{{ i }}.png" alt="">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="/static/script/chart.min.js"></script>
    <script src="/static/script/chartjs-plugin-datalabels.min.js"></script>
    <script>
        function change_info(info, button) {
            let d = document.getElementsByClassName('part');
            let b = document.getElementsByClassName('button');

            for (let i = 0; i < d.length; ++i) {
                if (d[i].classList.contains(info)) {
                    d[i].style.display = 'block';
                } else {
                    d[i].style.display = 'none';
                }
            }

            for (let i = 0; i < b.length; ++i) {
                if (b[i].classList.contains(button)) {
                    b[i].classList.add('year-active');
                } else if (b[i].classList.contains('year-active')) {
                    b[i].classList.remove('year-active');
                }
            }

            Chart.getChart('myChart').destroy();
            Chart.getChart('myChart2').destroy();
            Chart.getChart('myChart3').destroy();
            Chart.getChart('myChart8').destroy();

            let chartStatus = Chart.getChart('myChart6');
            if (chartStatus !== undefined) {
                chartStatus.destroy();
            }

            chartStatus = Chart.getChart('myChart7');
            if (chartStatus !== undefined) {
                chartStatus.destroy();
            }

            chartStatus = Chart.getChart('myChart4');
            let chartStatus2 = Chart.getChart('myChart5');
            if (chartStatus !== undefined) {
                chartStatus.destroy();
                chartStatus2.destroy();
            }

            make_graph();
            make_graph2();
            make_graph3();
            make_graph6();
            make_graph7();
            make_graph8();
        }
    </script>
    <script>
        function make_graph() {
            const data = {
                labels: ['2016 г', '2017 г', '2018 г', '2019 г', '2020 г'],
                datasets: [
                    {
                        label: 'Передача электроэнергии, млн. кВт*ч',
                        data: [3033.4, 3203, 3396, 3433.8, 3352.2],
                        backgroundColor: '#39449b',
                        borderColor: '#39449b',
                        order: 1,
                        yAxisID: 'y1'
                    },
                    {
                        label: 'Доля потерь электроэнергии, %',
                        data: [13.7, 12.8, 11.8, 11.0, 12.1],
                        type: 'line',
                        backgroundColor: '#ff5f5f',
                        borderColor: '#ff5f5f',
                        order: 0,
                        yAxisID: 'y2'
                    }
                ]
            };

            const config = {
                type: 'bar',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top'
                        },
                        title: {
                            display: true,
                            text: 'Показатели основной деятельности'
                        }
                    },
                    scales: {
                        y1: {
                            position: 'left',
                            title: {
                                display: true,
                                text: 'Передача эдектроэнергии, млн. кВт*ч'
                            }
                        },
                        y2: {
                            position: 'right',
                            title: {
                                display: true,
                                text: 'Доля потерь электроэнергии, %'
                            }
                        }
                    }
                }
            };

            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, config);
        }

        make_graph();
    </script>
    <script>
        function make_graph2() {
            const data2 = {
                labels: ['2016 г', '2017 г', '2018 г', '2019 г', '2020 г'],
                datasets: [
                    {
                        label: 'КЛ-220кВ',
                        data: [2.234, 2.234, 2.234, 12.3, 12.3],
                        backgroundColor: '#39449b',
                        borderColor: '#39449b',
                        yAxisID: 'y1'
                    },
                    {
                        label: 'КЛ-110кВ',
                        data: [95.73, 101.684, 134.848, 140.552, 168.524],
                        backgroundColor: '#ff5f5f',
                        borderColor: '#ff5f5f',
                        yAxisID: 'y2'
                    },
                    {
                        label: 'КЛ-20кВ',
                        data: [0, 228.891, 299.017, 208.981, 310.956],
                        backgroundColor: '#399b60',
                        borderColor: '#399B60FF',
                        yAxisID: 'y3'
                    },
                    {
                        label: 'КЛ-10кВ',
                        data: [1433.78, 1684.4106, 1804.783, 1866.749, 2140.219],
                        backgroundColor: '#9b9339',
                        borderColor: '#9B9339FF',
                        yAxisID: 'y4'
                    },
                    {
                        label: 'КЛ-6кВ',
                        data: [0, 19.065, 19.065, 19.065, 19.065],
                        backgroundColor: '#74399b',
                        borderColor: '#74399BFF',
                        yAxisID: 'y5'
                    },
                    {
                        label: 'КЛ-0,4кВ',
                        data: [909.31, 942.7247, 993.797, 999.126, 1111.56],
                        backgroundColor: '#9b6539',
                        borderColor: '#9B6539FF',
                        yAxisID: 'y6'
                    },
                    {
                        label: 'ВЛ-220кВ',
                        data: [124, 124.588, 124.588, 143.436, 143.436],
                        backgroundColor: '#399b9b',
                        borderColor: '#399B9BFF',
                        yAxisID: 'y7'
                    },
                    {
                        label: 'ВЛ-110кВ',
                        data: [148.9, 148.633, 149.569, 144.953, 202.255],
                        backgroundColor: '#839b39',
                        borderColor: '#839B39FF',
                        yAxisID: 'y8'
                    },
                    {
                        label: 'ВЛ-10кВ',
                        data: [326.58, 332.569, 329.31, 326.09, 350.04],
                        backgroundColor: '#b4005a',
                        borderColor: '#B4005AFF',
                        yAxisID: 'y9'
                    },
                    {
                        label: 'ВЛ-0,4кВ',
                        data: [453, 442.495, 437.774, 442.679, 508.734],
                        backgroundColor: '#f53c3c',
                        borderColor: '#F53C3CFF',
                        yAxisID: 'y10'
                    }
                ]
            };

            const config2 = {
                type: 'bar',
                data: data2,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top'
                        },
                        title: {
                            display: true,
                            text: 'Динамика развития электросетевого оборудования'
                        }
                    },
                    scales: {
                        y1: {
                            position: 'left',
                            title: {
                                display: true,
                                text: 'протяженность ВЛ и КЛ, км'
                            },
                            suggestedMin: 0,
                            suggestedMax: 5000
                        },
                        y2: {
                            display: false
                        },
                        y3: {
                            display: false
                        },
                        y4: {
                            display: false
                        },
                        y5: {
                            display: false
                        },
                        y6: {
                            display: false
                        },
                        y7: {
                            display: false
                        },
                        y8: {
                            display: false
                        },
                        y9: {
                            display: false
                        },
                        y10: {
                            display: false
                        }
                    }
                }
            };

            const ctx2 = document.getElementById('myChart2').getContext('2d');
            const myChart2 = new Chart(ctx2, config2);
        }

        make_graph2();
    </script>
    <script>
        function make_graph3() {
            let colors = [];
            for (let i = 0; i < 20; ++i) {
                if (i === 0) {
                    colors.push('#ffc000');
                } else {
                    colors.push('#39449b');
                }
            }

            const data3 = {
                labels: ['Астана РЭК', 'Атырау-Жарык', 'Онтустик Жарык Транзит РЭК', 'Кокшетау-Энерго', 'Павлодарская РЭК',
                    'Жезказганская РЭК', 'Алатау-Жарык (АЖК)', 'Акмолинская РЭК', 'Энергосистема', 'Мангистауская РЭК', 'ТАТЭК',
                    'Жамбылские электрические сети', 'Кызылординская РЭК', 'Караганды Жарык', 'Северо-Казахстанская РЭК',
                    'Карагандинская РЭК', 'ВКО АО "Объединенная ЭнергоСервисная Комп."', 'Запано-Казахстанская РЭК',
                    'Межрегионэнерготранзит'],
                datasets: [
                    {
                        label: 'Износ основных фондов, %',
                        data: [29, 40, 49, 57.5, 58.8, 59.7, 65.5, 66, 66, 66.2, 66.9, 68.7, 70, 70.2, 76.6, 80, 81, 81.1,
                            85],
                        backgroundColor: colors,
                        borderColor: colors,
                    }
                ]
            };

            const config3 = {
                type: 'bar',
                data: data3,
                options: {
                    indexAxis: 'y',
                    responsive: true,
                    plugins: {
                        legend: {
                            display: false
                        },
                        title: {
                            display: true,
                            text: 'Износ основных фондов, %'
                        }
                    },
                    suggestedMin: 0,
                    suggestedMax: 90
                }
            };
            const ctx3 = document.getElementById('myChart3').getContext('2d');
            const myChart3 = new Chart(ctx3, config3);
        }

        make_graph3();
    </script>
    <script>
        function make_graph4() {
            const data4 = {
                labels: ['2017 г', '2018 г', '2019 г', '2020 г'],
                datasets: [
                    {
                        label: 'SAIDI продолжительнось перерывов в электроснабжении, часов в год',
                        data: [0.97, 1.2, 0.7, 0.4],
                        backgroundColor: '#39449b',
                        borderColor: '#39449b',
                    }
                ]
            };

            const config4 = {
                type: 'bar',
                data: data4,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top'
                        },
                        title: {
                            display: true,
                            text: 'Индексы надежности электроснабжения'
                        }
                    }
                }
            };

            const ctx4 = document.getElementById('myChart4').getContext('2d');
            const myChart4 = new Chart(ctx4, config4);
        }

        function onEntry2(entry) {
            entry.forEach(change => {
                if (change.isIntersecting) {
                    if (Chart.getChart('myChart4') === undefined) {
                        make_graph4();
                    }
                }
            });
        }
        let options2 = { threshold: [0.5] };
        let observer2 = new IntersectionObserver(onEntry2, options2);
        observer2.observe(document.querySelector('.on-observe4'));
    </script>
    <script>
        function make_graph5() {
            const data5 = {
                labels: ['2017 г', '2018 г', '2019 г', '2020 г'],
                datasets: [
                    {
                        label: 'SAIFI частота перерывов в электроснабжении, раз в год',
                        data: [0.5, 0.7, 0.6, 0.3],
                        backgroundColor: '#ff5f5f',
                        borderColor: '#ff5f5f',
                    }
                ]
            };

            const config5 = {
                type: 'bar',
                data: data5,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top'
                        },
                        title: {
                            display: true,
                            text: 'Индексы надежности электроснабжения'
                        }
                    }
                }
            };

            const ctx5 = document.getElementById('myChart5').getContext('2d');
            const myChart5 = new Chart(ctx5, config5);
        }

        function onEntry3(entry) {
            entry.forEach(change => {
                if (change.isIntersecting) {
                    if (Chart.getChart('myChart5') === undefined) {
                        make_graph5();
                    }
                }
            });
        }
        let options3 = { threshold: [0.5] };
        let observer3 = new IntersectionObserver(onEntry3, options3);
        observer3.observe(document.querySelector('.on-observe5'));
    </script>
    <script>
        function make_graph6() {
            const data6 = {
                labels: ['01.19', '03.19', '05.19', '07.19', '09.19', '11.19',
                '01.20', '03.20', '05.20', '07.20', '09.20', '11.20',
                '01.20', '03.20', '05.20', '07.20', '09.20', '11.20', '11.20', '11.20', '11.20',
                '11.20', '11.20', '11.20', '11.20', '11.20', '11.21', '11.21', '11.21', '11.21', '11.21',
                '11.21', '11.21', '11.21', '11.21', '11.21', '11.21', '11.21'],
                datasets: [
                    {
                        label: 'Дом 2/6. Потребление тепла (Гкал) - Нежелые, коммерческие помещения',
                        data: [805.23, 778.56, 600.05, 410, 175.05, 90, 89.3, 88.5, 88, 90, 407.07,
                        645.04, 787.45, 800.05, 603.04, 601, 105, 104, 103.5, 102.9, 110, 607, 609,
                        890, 1165, 978, 810, 489, 76, 75, 74.5, 73, 79, 389, 410, 590],
                        borderColor: '#0e5cf8',
                        backgroundColor: '#0e5cf8',
                        fill: false,
                        cubicInterpolationMode: 'monotone',
                        tension: 0.2
                    },
                    {
                        label: 'Дом 2/6. Потребление тепла (Гкал) - Квартиры',
                        data: [790.23, 768.56, 590.05, 400, 165.05, 80, 79.3, 78.5, 78, 80, 397.07,
                        635.04, 777.45, 790.05, 593.04, 591, 95, 94, 93.5, 92.9, 100, 597, 599,
                        880, 1155, 968, 800, 479, 66, 65, 64.5, 63, 69, 379, 400, 580],
                        borderColor: '#e85d5d',
                        backgroundColor: '#e85d5d',
                        fill: false,
                        cubicInterpolationMode: 'monotone',
                        tension: 0.2
                    },
                    {
                        label: 'Дом 2/5. Потребление тепла (Гкал) - Нежелые, коммерческие помещения',
                        data: [605.23, 578.56, 400.05, 210, 75.05, 10, 39.3, 38.5, 38, 40, 207.07,
                        445.04, 587.45, 600.05, 403.04, 401, 55, 54, 53.5, 52.9, 60, 407, 409,
                        690, 965, 778, 610, 289, 16, 15, 14.5, 13, 19, 189, 210, 390],
                        borderColor: '#28a975',
                        backgroundColor: '#28a975',
                        fill: false,
                        cubicInterpolationMode: 'monotone',
                        tension: 0.2
                    },
                    {
                        label: 'Дом 2/5. Потребление тепла (Гкал) - Квартиры',
                        data: [595.23, 568.56, 390.05, 200, 65.05, 1, 29.3, 28.5, 28, 30, 197.07,
                        435.04, 577.45, 590.05, 393.04, 391, 45, 44, 43.5, 42.9, 50, 397, 399,
                        680, 955, 768, 600, 279, 6, 5, 4.5, 3, 9, 179, 200, 380],
                        borderColor: '#ccb126',
                        backgroundColor: '#ccb126',
                        fill: false,
                        cubicInterpolationMode: 'monotone',
                        tension: 0.2
                    },
                    {
                        label: 'Дом 2/4. Потребление тепла (Гкал) - Нежелые, коммерческие помещения',
                        data: [405.23, 378.56, 200.05, 10, 2, 1, 0.5, 0.3, 0.4, 0.48, 7.07,
                        245.04, 387.45, 400.05, 203.04, 201, 2, 1.6, 1.7, 1.78, 2, 207, 209,
                        490, 765, 578, 410, 89, 0.03, 0.02, 0.02, 0.03, 0.05, 50, 10, 190],
                        borderColor: '#ce7619',
                        backgroundColor: '#ce7619',
                        fill: false,
                        cubicInterpolationMode: 'monotone',
                        tension: 0.2
                    },
                    {
                        label: 'Дом 2/4. Потребление тепла (Гкал) - Квартиры',
                        data: [395.23, 358.56, 180.05, 0.02, 0.01, 0.01, 0.2, 0.1, 0.2, 0.18, 3.07,
                        235.04, 377.45, 380.05, 183.04, 181, 0.05, 0.03, 0.02, 0.02, 0.01, 197, 199,
                        470, 745, 558, 390, 69, 0.01, 0.01, 0.01, 0.01, 0.04, 30, 0.5, 170],
                        borderColor: '#5119a1',
                        backgroundColor: '#5119a1',
                        fill: false,
                        cubicInterpolationMode: 'monotone',
                        tension: 0.2
                    },
                    {
                        label: 'Дом 2/3. Потребление тепла (Гкал) - Нежелые, коммерческие помещения',
                        data: [205.23, 178.56, 50.05, 5, 1, 0.4, 0.02, 0.03, 0.04, 0.18, 3.07,
                        45.04, 187.45, 200.05, 40.04, 37, 0.8, 0.2, 0.08, 0.05, 0.3, 37, 38,
                        290, 565, 378, 210, 10, 0.01, 0.01, 0.01, 0.02, 0.03, 5, 1, 5],
                        borderColor: '#07a5e8',
                        backgroundColor: '#07a5e8',
                        fill: false,
                        cubicInterpolationMode: 'monotone',
                        tension: 0.2
                    },
                    {
                        label: 'Дом 2/3. Потребление тепла (Гкал) - Квартиры',
                        data: [185.23, 158.56, 30.05, 3, 0.2, 0.2, 0.01, 0.01, 0.02, 0.03, 1.07,
                        25.04, 167.45, 180.05, 20.04, 17, 0.08, 0.02, 0.03, 0.01, 0.03, 17, 18,
                        270, 545, 358, 190, 0.4, 0.01, 0.01, 0.01, 0.01, 0.02, 3, 0.1, 4],
                        borderColor: '#c205c0',
                        backgroundColor: '#c205c0',
                        fill: false,
                        cubicInterpolationMode: 'monotone',
                        tension: 0.2
                    },
                ]
            };

            const ctx6 = document.getElementById('myChart6').getContext('2d');
            const myChart6 = new Chart(ctx6, {
                type: 'line',
                data: data6,
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: 'ЖК Северная корона'
                        },
                    },
                },
            });
        }
    </script>
    <script>
        function make_graph7() {
            const data7 = {
                labels: ['01.19', '03.19', '05.19', '07.19', '09.19', '11.19',
                '01.20', '03.20', '05.20', '07.20', '09.20', '11.20',
                '01.20', '03.20', '05.20', '07.20', '09.20', '11.20', '11.20', '11.20', '11.20',
                '11.20', '11.20', '11.20', '11.20', '11.20', '11.21', '11.21', '11.21', '11.21', '11.21',
                '11.21', '11.21', '11.21', '11.21'],
                datasets: [
                    {
                        label: 'Потребление тепла (Гкал) - Нежелые, коммерческие помещения',
                        data: [846.84, 758.84, 642.31, 547.01, 156.80, 72.46, 79.45, 72.45, 72.45,
                        345.84, 600.42, 703.67, 653.63, 622.72, 350.27, 83.01, 72.43, 70.99, 132.74,
                        67.45, 583.18, 595.27, 847.73, 908.91, 711.05, 665.14, 457.06, 78.93, 64.56,
                        52.16, 57.64, 136.76, 360.53, 582.90, 742.83],
                        borderColor: '#a23f3f',
                        backgroundColor: '#a23f3f',
                        fill: false,
                        cubicInterpolationMode: 'monotone',
                        tension: 0.2
                    },
                    {
                        label: 'Потребление тепла (Гкал) - Квартиры',
                        data: [746.84, 658.84, 542.31, 447.01, 116.80, 62.46, 69.45, 62.45, 62.45,
                        337.84, 571.42, 603.67, 553.63, 522.72, 294.27, 73.01, 62.43, 60.99, 112.74,
                        57.45, 493.18, 515.27, 747.73, 808.91, 611.05, 565.14, 357.06, 68.93, 54.56,
                        42.16, 47.64, 116.76, 340.53, 482.90, 582.83],
                        borderColor: '#4170d2',
                        backgroundColor: '#4170d2',
                        fill: false,
                        cubicInterpolationMode: 'monotone',
                        tension: 0.2
                    }
                ]
            };

            const ctx7 = document.getElementById('myChart7').getContext('2d');
            const myChart7 = new Chart(ctx7, {
                type: 'line',
                data: data7,
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: 'ЖК Арайлым'
                        },
                    },
                },
            });
        }
    </script>
    <script>
        function make_graph8() {
            const data8 = {
                labels: ['2016 г', '2017 г', '2018 г', '2019 г', '2020 г'],
                datasets: [
                    {
                        label: 'ПС-220кВ',
                        data: [3, 3, 3, 3, 3],
                        backgroundColor: '#39449b',
                        borderColor: '#39449b',
                    },
                    {
                        label: 'ПС-110кВ',
                        data: [27, 29, 28, 28, 29],
                        backgroundColor: '#ff5f5f',
                        borderColor: '#ff5f5f',
                    },
                    {
                        label: 'РП, ТП, КТП-10/0,4кВ',
                        data: [1177, 1318, 1366, 1395, 1434],
                        backgroundColor: '#18a867',
                        borderColor: '#18A867FF',
                    }
                ]
            };

            const config8 = {
                type: 'bar',
                data: data8,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top'
                        },
                        title: {
                            display: true,
                            text: 'Динамика развития электросетевого оборудования, штук'
                        }
                    }
                }
            };

            const ctx8 = document.getElementById('myChart8').getContext('2d');
            const myChart8 = new Chart(ctx8, config8);
        }

        make_graph8();
    </script>
{% endblock %}