<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Energy lab, ТЭЦ">
    <meta name="description" content="Тепловые энергостанции в городе Нур-Султан">
    <title>Energy Lab</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="icon" href="/static/img/icon.ico">
</head>
<body>
<header>
    <div class="container-header">
        <a href="/" class="logo"><img src="/static/img/header-logo.png" alt="logo"></a>
        <div class="flex-box-header nav-links">
            <a href="">{{ _('О проекте') }}</a>
            <a href="/team">{{ _('Команда') }}</a>
            <a href="/analytics">{{ _('Аналитика') }}</a>
            <a href="/publications">{{ _('Публикации') }}</a>
            <a href="/contacts">{{ _('Контакты') }}</a>
        </div>

        <div class="languages desktop-hide">
            <a href="/change_language/ru" style="text-decoration: {{ LANGS['ru'] }};">ru</a>
            <a href="/change_language/en" style="text-decoration: {{ LANGS['en'] }}">en</a>
            <a href="/change_language/kk" style="text-decoration: {{ LANGS['kk'] }}">kz</a>
        </div>

        <input type="checkbox" name="" id="toggle" onclick=check_box()>
        <label for="toggle" class="tog-label">
            <div class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </label>
    </div>
</header>

<div id="menu">
    <div class="languages">
        <a href="/change_language/ru" style="text-decoration: {{ LANGS['ru'] }};">ru</a>
        <a href="/change_language/en" style="text-decoration: {{ LANGS['en'] }}">en</a>
        <a href="/change_language/kk" style="text-decoration: {{ LANGS['kk'] }}">kz</a>
    </div>

    <hr width="95%" color="gray" size="1px">

    <a href="">{{ _('О проекте') }}</a>
    <hr width="95%" color="gray" size="1px">
    <a href="/team">{{ _('Команда') }}</a>
    <hr width="95%" color="gray" size="1px">
    <a href="/analytics">{{ _('Аналитика') }}</a>
    <hr width="95%" color="gray" size="1px">
    <a href="/publications">{{ _('Публикации') }}</a>
    <hr width="95%" color="gray" size="1px">
    <a href="/contacts">{{ _('Контакты') }}</a>
</div>

<main role="main">
    {% block content %}{% endblock %}
</main>

<footer>
    <div class="container-footer">
        <div class="flex-box-footer-info">
            <a href="/" class="footer-logo"><img src="/static/img/footer-logo.png" alt="logo"></a>
        </div>

        <div class="flex-box-footer">
            <a href="">{{ _('О проекте') }}</a>
            <a href="/team">{{ _('Команда') }}</a>
            <a href="/analytics">{{ _('Аналитика') }}</a>
            <a href="/publications">{{ _('Публикации') }}</a>
            <a href="">{{ _('Контакты') }}</a>
        </div>
    </div>
</footer>

<script>
        function check_box() {
            let d = document.getElementById("toggle");
            if (d.checked) {
                let menu = document.getElementById("menu");
                menu.style.display='flex';
            } else {
                let menu = document.getElementById("menu");
                menu.style.display='none';
            }
        }
</script>

</body>
</html>