<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Energy Lab</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="icon" href="/static/img/icon.ico">
</head>
<body>
<header>
    <div class="container-header">
        <a href="/" class="logo"><img src="/static/img/header-logo.png" alt="logo"></a>
        <div class="flex-box-header">
            <a href="">О проекте</a>
            <a href="">Команда</a>
            <a href="/analytics">Аналитика</a>
            <a href="">Достижение</a>
            <a href="">Контакты</a>
        </div>
    </div>
</header>

<main role="main">
    {% block content %}{% endblock %}
</main>

<footer>
    <div class="container-footer">
        <div class="flex-box-footer-info">
            <a href="/" class="footer-logo"><img src="/static/img/footer-logo.png" alt="logo"></a>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus placeat quibusdam quisquam totam. Accusantium consequatur debitis id illum quo quos recusandae sed sequi. Earum nulla placeat ratione unde.
            </div>
        </div>

        <div class="flex-box-footer">
            <a href="">О проекте</a>
            <a href="">Команда</a>
            <a href="/analytics">Аналитика</a>
            <a href="">Достижение</a>
            <a href="">Контакты</a>
        </div>
    </div>
</footer>
</body>
</html>