{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="/static/css/contacts.css">

    <div class="container">
        <div class="box">
            <div>{{ _("Телефон: +7 7172 64-57-13") }}</div>
            <div>{{ _("Моб. телефон: +7 777-469-8612 (WhatsApp)") }}</div>
            <div>{{ _("Почта: ") }}<a href="mailto:science@astanait.edu.kz">science@astanait.edu.kz</a></div>
            <div>{{ _("Департамент науки и инноваций") }}</div>
            <div>Astana IT University</div>
            <div>010000 av. Mangilik Yel, 55/11. EXPO Pavilion C1.</div>
            <div>{{ _("Вебсайт AITU: ") }}<a href="https://astanait.edu.kz/razrabotka-intelektualnyh/" target="_blank">https://astanait.edu.kz/razrabotka-intelektualnyh/</a></div>
        </div>
    </div>
{% endblock %}