{% extends "base.html" %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/script/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/script/owlcarousel/owl.theme.default.min.css">
    <script src="/static/script/owlcarousel/owl.carousel.min.js"></script>
    <script src="/static/script/owlcarousel/start-carousel.js"></script>
    <link rel="stylesheet" href="/static/script/air-datepicker/dist/air-datepicker.css">
    <link rel="stylesheet" href="/static/css/main-page.css">

    <div class="owl-carousel">
        <div class="img1">
            <div class="carousel-titles">
                <div style="font-size: 8vw">SMART CITY:</div>
                <div>{{ _('умный - значит энергоэффективный') }}</div>
            </div>
        </div>
        <div class="img2">
            <div class="carousel-titles">
                <div>{{ _('ЭНЕРГОСБЕРЕЖЕНИЕ.') }}</div>
                <div>{{ _('ЧТО СДЕЛАНО ЗА 10 ЛЕТ?') }}</div>
            </div>
        </div>
        <div class="img3">
            <div class="carousel-titles">
                <div>{{ _('МЕЖДУНАРОДНОЕ') }}</div>
                <div>{{ _('ЭНЕРГЕТИЧЕСКОЕ АГЕНТСТВО') }}</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="box">
            <div class="info-box">
                <div style="font-size: 1.6vw">{{ _('Тепловые энергостанции в городе Нур-Султан') }}</div>

                <div class="select-box">
                    <select name="station" id="station" onchange="on_select();">
                        {% for i in stations %}
                            <option value="{{ i['name'] }}">{{ i['name'] }}</option>
                        {% endfor %}
                        <option value="-" selected>-</option>
                    </select>
                    <img src="/static/img/down-arrow.png" alt="">
                </div>

                <div class="info-check" id="info-check">
                    <div style="margin-bottom: 20px">{{ _('Адрес ТЭЦ: ') }}<span id="object_addr" style="font-weight: lighter"></span></div>
                    <div><a href="" id="object_link">{{ _('Больше информации') }}</a></div>
                </div>

            </div>
        </div>
        <div class="box" style="overflow: hidden">
            {% if LANGS['ru'] != 'none' or LANGS['kk'] != 'none' %}
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0871ca6c0585f092347d26434fa39c28b991d72f1f2bd99880f2757b92e7355f&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>
            {% elif LANGS['en'] != 'none' %}
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A21b95b5b71a1624be3f97393750b2d454973218f6782cb276105b549ab34a176&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="container-dir">
            <div class="container2">
                <div class="container-info">
                    {% for i in winddata.keys() %}
                        {% if loop.index == 1 and '_in' not in i %}
                            <div onclick="change_data_key({{ i }})" class="white-box year-button year-active {{ i }}">
                                <div>
                                    <div>{{ i }}</div>
                                </div>
                            </div>
                        {% elif '_in' not in i %}
                            <div onclick="change_data_key({{ i }})" class="white-box year-button {{ i }}">
                                <div>
                                    <div>{{ i }}</div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div style="display: flex">
                        <input id="datapick" type="text" placeholder="{{ _('Выберите дату') }}" readonly>
                        <div class="show-button" onclick="change_data_key(null, true)">{{ _('Показать') }}</div>
                    </div>
                </div>

                <div class="container-graph">
                    <div class="white-box graph">
                      <canvas id="myChart" class="on-observe"></canvas>
                    </div>
                </div>
            </div>

            <div class="container2">
                <div class="container-info">
                    {% for i in airtemp.keys() %}
                        {% if loop.index == 1 and '_in' not in i %}
                            <div onclick="change_data_key2({{ i }})" class="white-box year-button2 year-active2 {{ i }}">
                                <div>
                                    <div>{{ i }}</div>
                                </div>
                            </div>
                        {% elif '_in' not in i %}
                            <div onclick="change_data_key2({{ i }})" class="white-box year-button2 {{ i }}">
                                <div>
                                    <div>{{ i }}</div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div style="display: flex">
                        <input id="datapick2" type="text" placeholder="{{ _('Выберите дату') }}" readonly>
                        <div class="show-button" onclick="change_data_key2(null, true)">{{ _('Показать') }}</div>
                    </div>
                </div>

                <div class="container-graph">
                    <div class="white-box graph">
                      <canvas id="myChart2" class="on-observe2"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/script/chart.min.js"></script>
    <script src="/static/script/chartjs-plugin-datalabels.min.js"></script>
    <script src="/static/script/air-datepicker/dist/air-datepicker.js"></script>
    <script>
        function on_select() {
            let d = document.querySelector('select');
            if (d.value !== '-') {
                let info = {{ stations2|tojson }};

                let v = document.getElementById('object_addr').textContent = info[d.value]['address'];
                let v2 = document.getElementById('info-check');
                let link = document.getElementById('object_link');
                link['href'] = "station-info/" + info[d.value]['id'];
                link.style.display = 'block';
                v2.style.opacity = '1';
            } else {
                let v2 = document.getElementById('info-check');
                let link = document.getElementById('object_link');
                link.style.display = 'none';
                v2.style.opacity = '0';
            }
        }
    </script>
    <script>
        function check_click(obj) {
            let object = document.getElementById(obj);
            if (object.classList.contains('check-active')) {
                object.classList.remove('check-active');
                object.querySelector('.info-addr').style = 'display: none;';
                object.querySelector('.sign').textContent = '+';
            } else {
                object.classList.add('check-active');
                object.querySelector('.info-addr').style = 'display: block;';
                object.querySelector('.sign').textContent = '-';
            }
        }
    </script>
    <script>
        let locale_en = {
            days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
            daysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
            daysMin: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            months: ['January','February','March','April','May','June', 'July','August','September','October','November','December'],
            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            today: 'Today',
            clear: 'Clear',
            dateFormat: 'dd.MM.yyyy',
            timeFormat: 'HH:mm',
            firstDay: 1
        };

        let locale_ru = {
            days: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            daysShort: ['Вос','Пон','Вто','Сре','Чет','Пят','Суб'],
            daysMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
            today: 'Сегодня',
            clear: 'Очистить',
            dateFormat: 'dd.MM.yyyy',
            timeFormat: 'HH:mm',
            firstDay: 1
        };

        let locale_kk = {
            days: ['Жексенбі', 'Дүйсенбі', 'Сейсенбі', 'Сәрсенбі', 'Бейсенбі', 'Жұма', 'Сенбі'],
            daysShort: ['Жек','Дүй','Сей','Сәр','Бей','Жұма','Сен'],
            daysMin: ['Жк','Дб','Сб','Сә','Бб','Жұ','Сн'],
            months: ['Қаңтар', 'Ақпан', 'Наурыз', 'Сәуір', 'Мамыр', 'Маусым', 'Шілде', 'Тамыз', 'Қыркүйек', 'Қазан', 'Қараша', 'Желтоқсан'],
            monthsShort: ['Қаң', 'Ақп', 'Нау', 'Сәу', 'Мам', 'Мау', 'Шіл', 'Там', 'Қыр', 'Қаз', 'Қар', 'Жел'],
            today: 'Бүгін',
            clear: 'Тазарту',
            dateFormat: 'dd.MM.yyyy',
            timeFormat: 'HH:mm',
            firstDay: 1
        };

        let config = {
            minDate: '{{ airtemp_max_min[1] }}.01.01',
            maxDate: '{{ airtemp_max_min[0] }}.12.31',
        };

        if ('{{ LANGS['ru'] }}' !== 'none') {
            config.locale = locale_ru;
        } else if ('{{ LANGS['en'] }}' !== 'none') {
            config.locale = locale_en;
        } else if ('{{ LANGS['kk'] }}' !== 'none') {
            config.locale = locale_kk;
        }

        let date = new AirDatepicker('#datapick', config);
        let date2 = new AirDatepicker('#datapick2', config);
    </script>
    <script>
        let data_key = "2019";

        function change_data_key(key, date = false) {
            if (!date) {
                data_key = key;
                make_graph1(data_key);
            } else {
                let data = document.getElementById('datapick').value.split('.');
                make_graph1(data, true);
            }

            let year_button = document.getElementsByClassName('year-button');
            for (let i = 0; i < year_button.length; ++i) {
                if (year_button[i].classList.contains('year-active') && !year_button[i].classList.contains(key)) {
                    year_button[i].classList.remove('year-active');
                }
                if (year_button[i].classList.contains(key)) {
                    year_button[i].classList.add('year-active');
                }
            }
        }

        function make_graph1(data_key, date = false) {
            const datapoints = {{ winddata|tojson }};
            let data = {};
            let text = '{{ _('Скорость ветра, ') }}';

            if (!date) {
                data = {
                    labels: ['{{ _("Январь") }}', '{{ _("Февраль") }}', '{{ _("Март") }}', '{{ _("Апрель") }}', '{{ _("Май") }}',
                        '{{ _("Июнь") }}', '{{ _("Июль") }}', '{{ _("Август") }}', '{{ _("Сентябрь") }}', '{{ _("Октябрь") }}', '{{ _("Ноябрь") }}', '{{ _("Декабрь") }}'],
                    datasets: [
                        {
                            label: '{{ _('Скорость ветра м/с (Среднее значение)') }}',
                            data: datapoints[data_key],
                            borderColor: '#E52B50',
                            fill: true,
                            backgroundColor: 'rgba(229,43,80,0.6)',
                            cubicInterpolationMode: 'monotone',
                            tension: 0.4
                        }
                    ]
                };
                text = text + data_key + "{{ _(' год') }}";
            } else {
                let labels = [];
                let datasets_data = [];

                for (let i = 0; i < datapoints[data_key[2] + '_in'][data_key[1]][data_key[0]].length; ++i) {
                    labels.push(datapoints[data_key[2] + '_in'][data_key[1]][data_key[0]][i][0]);
                    datasets_data.push(datapoints[data_key[2] + '_in'][data_key[1]][data_key[0]][i][1]);
                }

                data = {
                    labels: labels,
                    datasets: [
                        {
                            label: '{{ _('Скорость ветра м/с') }}',
                            data: datasets_data,
                            borderColor: '#E52B50',
                            fill: true,
                            backgroundColor: 'rgba(229,43,80,0.6)',
                            cubicInterpolationMode: 'monotone',
                            tension: 0.4
                        }
                    ]
                };
                text = text + data_key.join('.');
            }

            const ctx = document.getElementById('myChart').getContext('2d');
            let chartStatus = Chart.getChart('myChart');
            if (chartStatus !== undefined) {
                chartStatus.destroy();
            }
            const myChart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: text
                        },
                    },
                    interaction: {
                        intersect: false,
                    },
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true
                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: '{{ _('Скорость м/с') }}'
                            },
                            suggestedMin: 0,
                            suggestedMax: 10
                        }
                    }
                },
            });
        }

        function onEntry(entry) {
            entry.forEach(change => {
                if (change.isIntersecting) {
                    if (Chart.getChart('myChart') === undefined) {
                        make_graph1(data_key);
                    }
                }
            });
        }
        let options = { threshold: [0.5] };
        let observer = new IntersectionObserver(onEntry, options);
        observer.observe(document.querySelector('.on-observe'));


        let data_key2 = "2018";

        function change_data_key2(key, date = false) {
            if (!date) {
                data_key2 = key;
                make_graph2(data_key2);
            } else {
                let data2 = document.getElementById('datapick2').value.split('.');
                make_graph2(data2, true);
            }

            let year_button = document.getElementsByClassName('year-button2');
            for (let i = 0; i < year_button.length; ++i) {
                if (year_button[i].classList.contains('year-active2') && !year_button[i].classList.contains(key)) {
                    year_button[i].classList.remove('year-active2');
                }
                if (year_button[i].classList.contains(key)) {
                    year_button[i].classList.add('year-active2');
                }
            }
        }

        function make_graph2(data_key, date = false) {
            const datapoints2 = {{ airtemp|tojson }};
            let data = {};
            let text = '{{ _('Температура воздуха, ') }}';

            if (!date) {
                data = {
                    labels: ['{{ _("Январь") }}', '{{ _("Февраль") }}', '{{ _("Март") }}', '{{ _("Апрель") }}', '{{ _("Май") }}',
                        '{{ _("Июнь") }}', '{{ _("Июль") }}', '{{ _("Август") }}', '{{ _("Сентябрь") }}', '{{ _("Октябрь") }}', '{{ _("Ноябрь") }}', '{{ _("Декабрь") }}'],
                    datasets: [
                        {
                            label: '{{ _('Температура воздуха по цельсию (Среднее значение)') }}',
                            data: datapoints2[data_key],
                            borderColor: '#0e5cf8',
                            backgroundColor: '#0e5cf8',
                            fill: false,
                            cubicInterpolationMode: 'monotone',
                            tension: 0.4
                        }
                    ]
                };
                text = text + data_key + '{{ _(' год') }}';
            } else {
                let labels = [];
                let datasets_data = [];

                for (let i = 0; i < datapoints2[data_key[2] + '_in'][data_key[1]][data_key[0]].length; ++i) {
                    labels.push(datapoints2[data_key[2] + '_in'][data_key[1]][data_key[0]][i][0]);
                    datasets_data.push(datapoints2[data_key[2] + '_in'][data_key[1]][data_key[0]][i][1]);
                }

                data = {
                    labels: labels,
                    datasets: [
                        {
                            label: '{{ _('Температура воздуха по цельсию') }}',
                            data: datasets_data,
                            borderColor: '#0e5cf8',
                            backgroundColor: '#0e5cf8',
                            fill: false,
                            cubicInterpolationMode: 'monotone',
                            tension: 0.4
                        }
                    ]
                };
                text = text + data_key.join('.');
            }

            const ctx = document.getElementById('myChart2').getContext('2d');
            let chartStatus = Chart.getChart('myChart2');
            if (chartStatus !== undefined) {
                chartStatus.destroy();
            }
            const myChart2 = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: text
                        },
                    },
                    interaction: {
                        intersect: false,
                    },
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true
                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: '{{ _('Температура воздуха по цельсию') }}'
                            },
                            suggestedMin: -30,
                            suggestedMax: 30
                        }
                    }
                },
            });
        }

        function onEntry2(entry) {
            entry.forEach(change => {
                if (change.isIntersecting) {
                    if (Chart.getChart('myChart2') === undefined) {
                        make_graph2(data_key2);
                    }
                }
            });
        }
        let options2 = { threshold: [0.5] };
        let observer2 = new IntersectionObserver(onEntry2, options2);
        observer2.observe(document.querySelector('.on-observe2'));
    </script>
{% endblock %}