{% extends "base.html" %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/script/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/script/owlcarousel/owl.theme.default.min.css">
    <script src="/static/script/owlcarousel/owl.carousel.min.js"></script>
    <script src="/static/script/owlcarousel/start-carousel.js"></script>
    <link rel="stylesheet" href="/static/script/air-datepicker/dist/air-datepicker.css">
    <link rel="stylesheet" href="/static/css/main-page.css">

    <div class="owl-carousel">
        <div class="img1">
            <div class="carousel-titles">
                <div style="font-size: 8vw">SMART CITY:</div>
                <div>умный - значит энергоэффективный</div>
            </div>
        </div>
        <div class="img2">
            <div class="carousel-titles">
                <div>ЭНЕРГОСБЕРЕЖЕНИЕ.</div>
                <div>ЧТО СДЕЛАНО ЗА 10 ЛЕТ?</div>
            </div>
        </div>
        <div class="img3">
            <div class="carousel-titles">
                <div>МЕЖДУНАРОДНОЕ</div>
                <div>ЭНЕРГЕТИЧЕСКОЕ АГЕНТСТВО</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="box">
            <div class="info-box">
                <div style="font-size: 1.8vw">Тепловые энергостанции в городе Нур-Султан</div>

                <div class="select-box">
                    <select name="station" id="station" onclick="on_select()">
                        {% for i in stations %}
                            <option value="{{ i['name'] }}">{{ i['name'] }}</option>
                        {% endfor %}
                    </select>
                    <img src="/static/img/down-arrow.png" alt="">
                </div>

                <div class="info-check" id="info-check">
                    <div style="margin-bottom: 20px">Адрес ТЭЦ:  <span id="object_addr" style="font-weight: lighter"></span></div>
                    <div><a href="" id="object_link">Больше информации</a></div>
                </div>

            </div>
        </div>
        <div class="box" style="overflow: hidden">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0871ca6c0585f092347d26434fa39c28b991d72f1f2bd99880f2757b92e7355f&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>

    <div class="container">
        <div class="container-dir">
            <div class="container2">
                <div class="container-info">
                    {% for i in winddata.keys() %}
                        {% if loop.index == 1 and '_in' not in i %}
                            <div onclick="change_data_key({{ i }})" class="white-box year-button year-active">
                                <div>
                                    <div>{{ i }}</div>
                                </div>
                            </div>
                        {% elif '_in' not in i %}
                            <div onclick="change_data_key({{ i }})" class="white-box year-button">
                                <div>
                                    <div>{{ i }}</div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div style="display: flex">
                        <input id="datapick" type="text" placeholder="Выберите дату" readonly>
                        <div class="show-button" onclick="change_data_key(null, true)">Показать</div>
                    </div>
                </div>

                <div class="container-graph">
                    <div class="white-box graph">
                      <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="container2">
                <div class="container-info">
                    {% for i in airtemp.keys() %}
                        {% if loop.index == 1 and '_in' not in i %}
                            <div onclick="change_data_key2({{ i }})" class="white-box year-button2 year-active2">
                                <div>
                                    <div>{{ i }}</div>
                                </div>
                            </div>
                        {% elif '_in' not in i %}
                            <div onclick="change_data_key2({{ i }})" class="white-box year-button2">
                                <div>
                                    <div>{{ i }}</div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div style="display: flex">
                        <input id="datapick2" type="text" placeholder="Выберите дату" readonly>
                        <div class="show-button" onclick="change_data_key2(null, true)">Показать</div>
                    </div>
                </div>

                <div class="container-graph">
                    <div class="white-box graph">
                      <canvas id="myChart2"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/script/chart.min.js"></script>
    <script src="/static/script/chartjs-plugin-datalabels.min.js"></script>
    <script src="/static/script/air-datepicker/dist/air-datepicker.js"></script>
    <script>
        function on_select() {
            let d = document.querySelector('select');
            let info = {{ stations2|tojson }};

            let v = document.getElementById('object_addr').textContent = info[d.value]['address'];
            let v2 = document.getElementById('info-check');
            let link = document.getElementById('object_link');
            link['href'] = "station-info/" + info[d.value]['id'];
            link.style.display = 'block';
            v2.style.opacity = '1';
        }
    </script>
    <script>
        function check_click(obj) {
            let object = document.getElementById(obj);
            if (object.classList.contains('check-active')) {
                object.classList.remove('check-active');
                object.querySelector('.info-addr').style = 'display: none;';
                object.querySelector('.sign').textContent = '+';
            } else {
                object.classList.add('check-active');
                object.querySelector('.info-addr').style = 'display: block;';
                object.querySelector('.sign').textContent = '-';
            }
        }
    </script>
    <script>
        new AirDatepicker('#datapick', {
            minDate: '{{ winddata_max_min[1] }}.01.01',
            maxDate: '{{ winddata_max_min[0] }}.12.31'
        })

        new AirDatepicker('#datapick2', {
            minDate: '{{ airtemp_max_min[1] }}.01.01',
            maxDate: '{{ airtemp_max_min[0] }}.12.31'
        })
    </script>
    <script>
        let data_key = "2019";
        make_graph1(data_key);

        function change_data_key(key, date = false) {
            if (!date) {
                data_key = key;
                make_graph1(data_key);
            } else {
                let data = document.getElementById('datapick').value.split('.');
                make_graph1(data, true);
            }

            let year_button = document.getElementsByClassName('year-button');
            for (let i = 0; i < year_button.length; ++i) {
                if (year_button[i].classList.contains('year-active') && year_button[i].textContent !== key) {
                    year_button[i].classList.remove('year-active');
                }
                if (year_button[i].textContent === key) {
                    year_button[i].classList.add('year-active');
                }
            }
        }

        function make_graph1(data_key, date = false) {
            const datapoints = {{ winddata|tojson }};
            let data = {};
            let text = 'Скорость ветра, ';

            if (!date) {
                data = {
                    labels: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь",
                        "Ноябрь", "Декабрь"],
                    datasets: [
                        {
                            label: 'Скорость ветра м/с (Среднее значение)',
                            data: datapoints[data_key],
                            borderColor: '#E52B50',
                            fill: true,
                            backgroundColor: 'rgba(229,43,80,0.6)',
                            cubicInterpolationMode: 'monotone',
                            tension: 0.4
                        }
                    ]
                };
                text = text + data_key + ' год';
            } else {
                let labels = [];
                let datasets_data = [];

                for (let i = 0; i < datapoints[data_key[2] + '_in'][data_key[1]][data_key[0]].length; ++i) {
                    labels.push(datapoints[data_key[2] + '_in'][data_key[1]][data_key[0]][i][0]);
                    datasets_data.push(datapoints[data_key[2] + '_in'][data_key[1]][data_key[0]][i][1]);
                }

                data = {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Скорость ветра м/с',
                            data: datasets_data,
                            borderColor: '#E52B50',
                            fill: true,
                            backgroundColor: 'rgba(229,43,80,0.6)',
                            cubicInterpolationMode: 'monotone',
                            tension: 0.4
                        }
                    ]
                };
                text = text + data_key.join('.');
            }

            const ctx = document.getElementById('myChart').getContext('2d');
            let chartStatus = Chart.getChart('myChart');
            if (chartStatus !== undefined) {
                chartStatus.destroy();
            }
            const myChart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: text
                        },
                    },
                    interaction: {
                        intersect: false,
                    },
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true
                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Скорость м/с'
                            },
                            suggestedMin: 0,
                            suggestedMax: 10
                        }
                    }
                },
            });
        }


        let data_key2 = "2018";
        make_graph2(data_key2);

        function change_data_key2(key, date = false) {
            if (!date) {
                data_key2 = key;
                make_graph2(data_key2);
            } else {
                let data2 = document.getElementById('datapick2').value.split('.');
                make_graph2(data2, true);
            }

            let year_button = document.getElementsByClassName('year-button2');
            for (let i = 0; i < year_button.length; ++i) {
                if (year_button[i].classList.contains('year-active2') && year_button[i].textContent !== key) {
                    year_button[i].classList.remove('year-active2');
                }
                if (year_button[i].textContent === key) {
                    year_button[i].classList.add('year-active2');
                }
            }
        }

        function make_graph2(data_key, date = false) {
            const datapoints2 = {{ airtemp|tojson }};
            let data = {};
            let text = 'Температура воздуха, ';

            if (!date) {
                data = {
                    labels: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь",
                    "Ноябрь", "Декабрь"],
                    datasets: [
                        {
                            label: 'Температура воздуха по цельсию (Среднее значение)',
                            data: datapoints2[data_key],
                            borderColor: '#0e5cf8',
                            backgroundColor: '#0e5cf8',
                            fill: false,
                            cubicInterpolationMode: 'monotone',
                            tension: 0.4
                        }
                    ]
                };
                text = text + data_key + ' год';
            } else {
                let labels = [];
                let datasets_data = [];

                for (let i = 0; i < datapoints2[data_key[2] + '_in'][data_key[1]][data_key[0]].length; ++i) {
                    labels.push(datapoints2[data_key[2] + '_in'][data_key[1]][data_key[0]][i][0]);
                    datasets_data.push(datapoints2[data_key[2] + '_in'][data_key[1]][data_key[0]][i][1]);
                }

                data = {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Температура воздуха по цельсию',
                            data: datasets_data,
                            borderColor: '#0e5cf8',
                            backgroundColor: '#0e5cf8',
                            fill: false,
                            cubicInterpolationMode: 'monotone',
                            tension: 0.4
                        }
                    ]
                };
                text = text + data_key.join('.');
            }

            const ctx = document.getElementById('myChart2').getContext('2d');
            let chartStatus = Chart.getChart('myChart2');
            if (chartStatus !== undefined) {
                chartStatus.destroy();
            }
            const myChart2 = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: text
                        },
                    },
                    interaction: {
                        intersect: false,
                    },
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true
                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Температура воздуха по цельсию'
                            },
                            suggestedMin: -30,
                            suggestedMax: 30
                        }
                    }
                },
            });
        }
    </script>
{% endblock %}