{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/css/publications.css">

    <div class="container">
        <table>
            <tbody>
                <tr>
                    <th>{{ _("Год") }}</th>
                    <th>{{ _("Статья") }}</th>
                    <th>{{ _("Журнал") }}</th>
                </tr>

                <tr>
                    <td>2021</td>
                    <td><a href="https://doi.org/10.1109/ACCESS.2021.3123903" target="_blank">Z. Nurlan, T. Zhukabayeva, M. Othman and A. Adamova, "Resource Allocation approach for Optimal routing in IoT Wireless Mesh Networks"// IEEE Access(Q1).</a></td>
                    <td>Scopus, Q2</td>
                </tr>

                <tr>
                    <td rowspan="6">2022</td>
                    <td>Z. Nurlan, T. Zhukabayeva, M. Othman, A. Adamova and N. Zhakiyev, "Wireless Sensor Network as a Mesh: Vision and Challenges," in IEEE Access, vol. 10, pp. 46-67, 2022, doi: 10.1109/ACCESS.2021.3137341</td>
                    <td>Scopus, Q2</td>
                </tr>

                <tr>
                    <td>N.Zhakiyev, A. Kalenova, A. Khamzina "The Energy Sector of the Capital of Kazakhstan: Status Quo and Policy Towards Smart City" International Journal of Energy Economics and Policy (ISSN: 2146-4553, CiteScore: 3.5, Quartile-62). International Journal of Energy Economics and Policy (Submitted 26.04.2022)</td>
                    <td>Scopus Quartile-62, Q2</td>
                </tr>

                <tr>
                    <td>R. Omirgaliyev, N. Zhakiyev, N.Aitbayeva, Y. Akhmetbekov. “Application of machine learning methods for the analysis of heat energy consumption by zones with a change in outdoor temperature: case study for Nur-Sultan city”. International Journal of Sustainable Development and Planning.(ISSN:1743-7601) Quartile-56. (Submitted 26.02.2022)</td>
                    <td>Scopus Quartile-56, Q2</td>
                </tr>

                <tr>
                    <td>A. Satan, A. Khamzina, D. Toktarbayev, Z. Sotsial, I. Bapiyev, N. Zhakiyev. “Comparative LSTM and SVM Machine Learning Approaches for Energy Consumption Prediction: Case Study in Akmola” 2022 International Conference on Smart Information Systems and Technologies (SIST),  Nur-Sultan, 28 April 2022. (indexed in IEEE, Scopus)</td>
                    <td>Scopus</td>
                </tr>

                <tr>
                    <td>B. Akhmetzhanov, A. Omar, Z. Nurlan, N. Zhakiyev “Integration of a Video Surveillance System into a Smart Home Using the Home Assistant Platform” 2022 International Conference on Smart Information Systems and Technologies (SIST), Nur-Sultan, 28 April 2022, (indexed in IEEE, Scopus)</td>
                    <td>Scopus</td>
                </tr>

                <tr>
                    <td>Nurlan, Z; Zhukabayeva, T; et.al. Fault Node Detection for Wireless Sensor Network Based on Machine Support Vectors. MDPI Sensors. Submitted: 05.05.2022. Q2.</td>
                    <td>Scopus Q2</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}