{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/css/publications.css">

    <div class="container">
        <table>
            <tbody>
                <tr>
                    <th>№</th>
                    <th>{{ _("Год") }}</th>
                    <th>{{ _("Статья") }}</th>
                    <th>{{ _("Журнал") }}</th>
                </tr>

                <tr>
                    <td>1</td>
                    <td>2021</td>
                    <td><a href="https://doi.org/10.1109/ACCESS.2021.3123903" target="_blank">{{ _('Z. Nurlan, T. Zhukabayeva, M. Othman and A. Adamova, "Resource Allocation approach for Optimal routing in IoT Wireless Mesh Networks"// IEEE Access(Q1).') }}</a></td>
                    <td>Scopus Q1,WoS Q2</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td rowspan="8">2022</td>
                    <td><a href="https://doi.org/10.18280/ijsdp.170423" target="_blank">{{ _('Omirgaliyev, R., Zhakiyev, N.*, Aitbayeva, N., Akhmetbekov, Y. (2022). Application of machine learning methods for the analysis of heat energy consumption by zones with a change in outdoor temperature: Case study for Nur-Sultan city. International Journal of Sustainable Development and Planning, Vol. 17, No. 4, pp. 1247-1257.') }}</a></td>
                    <td>Scopus, Q2, 55%</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td><a href="https://doi.org/10.32479/ijeep.13126" target="_blank">{{ _('Zhakiyev, N.*, Kalenova, A., & Khamzina, A. (2022). The Energy Sector of the Capital of Kazakhstan: Status Quo and Policy towards Smart City. International Journal of Energy Economics and Policy, 12(4), 414–423.') }}</a></td>
                    <td>Scopus Q1, 90%</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td><a href="https://doi.org/10.1109/ACCESS.2021.3137341" target="_blank">{{ _('Z. Nurlan, T. Zhukabayeva, M. Othman, A. Adamova and N. Zhakiyev, "Wireless Sensor Network as a Mesh: Vision and Challenges," in IEEE Access, vol. 10, pp. 46-67, 2022') }}</a></td>
                    <td>Scopus Q1, WoS Q2</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>{{ _('A. Satan, A. Khamzina, D. Toktarbayev, Z. Sotsial, I. Bapiyev, N. Zhakiyev. “Comparative LSTM and SVM Machine Learning Approaches for Energy Consumption Prediction: Case Study in Akmola” 2022 International Conference on Smart Information Systems and Technologies (SIST), Nur-Sultan, 28 April 2022. (indexed in IEEE, Scopus)') }}</td>
                    <td>Scopus</td>
                </tr>

                <tr>
                    <td>6</td>
                    <td>{{ _('B. Akhmetzhanov, A. Omar, Z. Nurlan, N. Zhakiyev “Integration of a Video Surveillance System into a Smart Home Using the Home Assistant Platform” 2022 International Conference on Smart Information Systems and Technologies (SIST), Nur-Sultan, 28 April 2022, (indexed in IEEE, Scopus)') }}</td>
                    <td>Scopus</td>
                </tr>

                <tr>
                    <td>7</td>
                    <td>{{ _('Nurlan, Z; Zhukabayeva, T; et.al. Fault Node Detection for Wireless Sensor Network Based on Machine Support Vectors. MDPI Sensors. Submitted: 05.05.2022. Q2.') }}</td>
                    <td>WoS Q2</td>
                </tr>

                <tr>
                    <td>8</td>
                    <td>{{ _('Токсанов "тема статьи" подано в журнал КОКСОН') }}</td>
                    <td>{{ _('КОКСОН') }}</td>
                </tr>

                <tr>
                    <td>9</td>
                    <td>{{ _('Архипкин О. и др. "Возможности автоматизации децентрализованного производства тепла г. Нур-султан за счет перехода на ВИЭ" Вестник АУЭС (Август 2022). подано в журнал КОКСОН') }}</td>
                    <td>{{ _('КОКСОН') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}