{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/css/team.css">

    <div class="container">
        <h1>{{ _('Команда') }}</h1>
    </div>

    <div class="container">
        <div class="white-box padding">
            <h2 style="text-align: center">{{ _('Аягоз Хамзина') }}</h2>
            <div>{{ _('Хамзина Аягоз Сактаганкызы родилась в 1994 году, 25 ноября (25.11.1994) в г.Уральск, Казахстан. В
                2012 году закончила среднюю общеобразовательную школу №2 и поступила в Казахский Национальный
                Университет на специальность «химик-технолог». В 2016 году получила степень магистра технических наук.
                Трудовую деятельность начала, еще будучи студентом, на позиции младшего научного сотрудника в НИИ
                проблем горения. В ходе научной деятельности была усовершенствована технология получения экологических
                водорастворимых полиуретановых красок. В 2017 году прошла стажировку в Лодзинском Политехническом
                Университете г. Лодзь, Польша. В 2018 году участвовала в конференции, посвященной устойчивому развитию,
                организованной ООН в штаб-квартире в Нью-Йорке. Практиковалась в ведущих компаниях, занимающихся
                нефтепереработкой, таких как Karachaganak Petroleum Operated, Атырауский нефтеперерабатывающий завод. На
                данный момент занимает позицию младшего научного сотрудника при департаменте науки и инноваций в AITU.') }}</div>
        </div>
    </div>
    
    <div class="container" style="margin-top: 50px">
        <div class="white-box flex">
            <img src="/static/img/team/Jakiev-N.JPG" alt="">
            <div>{{ _('Nurkhat Zhakiyev is a computer modeler of energy systems, GHG emissions projections in industry
                sector and Climate change mitigation analyst. He is currently working at Astana IT University. He holds
                PhD in physics from Eurasian National University (Kazakhstan, 2015). After obtaining PhD degree in 2015
                started working as a Researcher at PI “Nazarbayev University Research and Innovation System”, PI
                “National Laboratory Astana”, Energy Ecology and Climate Laboratory at Nazarbayev University. Nurkhat
                was involved to projects on modeling of energy sector of Kazakhstan using ELMOD, TIMES energy systems
                modeling tools. In 2015-2021 he participated in the project «Development of Kazakhstan’s National
                Communication to the UNFCCC and BR» where he was responsible for provision of information about
                Kazakhstan’s activities to mitigate climate change, including policies and measures that it has
                implemented or plans to implement and update of forecasts for 2030 and 2050 (industrial sector). In
                2019-2020 years he participated in soft linking project of CGE (top-down) model of Kazakhstan with
                TIMES-Kazakhstan (bottom-up) energy system model (PMR/World Bank Project for Kazakhstan). During this
                project he took part in development of initial data sets, optimization model of energy system of
                Kazakhstan, in analysis of the various policies and measures to reduce the impact on climate, in
                analysis of the role of the emissions trading system and the development of different options for
                different scenarios. Main research interests are technic-economical modelling of energy systems, Climate
                Change Mitigation Analysis and GHG emissions projections. The outputs from their works has already
                resulted in academic publications in form a joint research article in a leading journal on industry and
                energy research (~15 publications in international journals, H-index 4).') }}</div>
        </div>
    </div>

    <div class="container" style="margin-top: 50px">
        <div class="white-box flex">
            <img src="/static/img/team/Kenzhina-M.jpg" alt="">
            <div>{{ _('Кенжина Мадина, 25 лет, выпускница программы бакалавриата «Electrical and electronic engineering»
                Назарбаев Университета 2019 года, специализация Power Engineering. Имеется несколько публикаций,
                посвященные изучению надежной работы энергосистемы, целесообразности внедрения виртуальной
                электростанции в Казахстане. На текущий момент ведущий инженер АО «KEGOC». Сфера деятельности:
                эксплуатация активно-адаптивных систем Единой Энергосистемы Казахстана (АРЧМ, WAMS и др.).') }}</div>
        </div>
    </div>
{% endblock %}