{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/css/team.css">

    <div class="container">
        <h1>{{ _('Команда') }}</h1>
    </div>

    <div class="container">
        <div class="grid-box">
            <div class="white-box flex">
                <img src="/static/img/team/Jakiev-N.JPG" alt="">
                <div>{{ _('Жакиев Нурхат Куандыкович, PhD по физике.<br><br>Руководитель подзадачи РП-3. Занимается компьютерным моделированием энергетических систем, прогнозирует выбросы парниковых газов в промышленности и занимается аналитикой по смягчению последствий изменения климата. Основная тема научных исследований посвящена математическому и компьютерному моделированию физических процессов, методам оптимизации и матричной алгебры, моделированию в среде GAMS. h-index=4, <a href="https://www.scopus.com/authid/detail.uri?authorId=56043145000">https://www.scopus.com/authid/detail.uri?authorId=56043145000</a>') }}</div>
            </div>

            <div class="white-box">
                <h2 style="text-align: center">{{ _('Токсанов Сапар') }}</h2>
                <div>{{ _('Магистр информатики, докторант PhD, научный сотрудник АИТУ h-index=2, <a href="https://www.scopus.com/authid/detail.uri?authorId=57222154960" target="_blank">https://www.scopus.com/authid/detail.uri?authorId=57222154960</a>') }}</div>
            </div>

            <div class="white-box padding">
                <h2 style="text-align: center">{{ _('Аягоз Хамзина') }}</h2>
                <div>{{ _('Хамзина Аягоз Сактаганкызы родилась в 1994 году, 25 ноября (25.11.1994) в г.Уральск, Казахстан. В
                    2012 году закончила среднюю общеобразовательную школу №2 и поступила в Казахский Национальный
                    Университет на специальность «химик-технолог». В 2016 году получила степень магистра технических наук.
                    Трудовую деятельность начала, еще будучи студентом, на позиции младшего научного сотрудника в НИИ
                    проблем горения. В ходе научной деятельности была усовершенствована технология получения экологических
                    водорастворимых полиуретановых красок. В 2017 году прошла стажировку в Лодзинском Политехническом
                    Университете г. Лодзь, Польша. В 2018 году участвовала в конференции, посвященной устойчивому развитию,
                    организованной ООН в штаб-квартире в Нью-Йорке. Практиковалась в ведущих компаниях, занимающихся
                    нефтепереработкой, таких как Karachaganak Petroleum Operated, Атырауский нефтеперерабатывающий завод. На
                    данный момент занимает позицию младшего научного сотрудника при департаменте науки и инноваций в AITU.') }}</div>
            </div>

            <div class="white-box flex">
                <img src="/static/img/team/Kenzhina-M.jpg" alt="">
                <div>{{ _('Кенжина Мадина, 25 лет<br><br>выпускница программы бакалавриата «Electrical and electronic engineering»
                    Назарбаев Университета 2019 года, специализация Power Engineering. Имеется несколько публикаций,
                    посвященные изучению надежной работы энергосистемы, целесообразности внедрения виртуальной
                    электростанции в Казахстане. На текущий момент ведущий инженер АО «KEGOC». Сфера деятельности:
                    эксплуатация активно-адаптивных систем Единой Энергосистемы Казахстана (АРЧМ, WAMS и др.).') }}</div>
            </div>

            <div class="white-box flex">
                <img src="/static/img/team/Archipkin.jpg" alt="">
                <div>{{ _('Архипкин Олег 37 лет<br><br>образование: Московский физико-технический институт 2002 - 2008, Магистр прикладных физики и математики, член Координационного совета по развитию возобновляемой энергетики Министерства энергетики Республики Казахстан (Приказ Министра энергетики Республики Казахстан № 304 от 07.07.2016 г.); член Совета Ассоциации KAZENERGY по энергетике. Годы работы в Фирме: 01/2021 - настоящее время - АО «Жасыл Даму», 11/2019 - 08/2020 - НАО «МЦЗТИП», 07/2011 - 07/2019 - АО «Казахский институт нефти и газа», 07/2010 - 01/2011 - ТОО «Speclabpribor A», 04/2009 - 04/2010 - АО «НАК «Казатомпром», Награды: Медаль ассоциации «KAZENERGY» за вклад в развитие нефтегазового и энергетического комплекса РК.<br>Лучший инновационный эксперт 2012 г') }}</div>
            </div>

            <div class="white-box flex">
                <img src="/static/img/team/Balzhan.jpg" alt="">
                <div>{{ _('Азибек Балжан, 25 лет<br>Магистр электротехники и компьютерной инженерии<br><br>Балжан Азибек получила степень бакалавра и магистра в области электротехники и компьютерной инженериии в Назарбаев Университете, Казахстан. Балжан изучает производство и распределение электроэнергии. Область ее исследований также включает подходы теории игр к моделированию энергосистем. В настоящее время она работает преподавателем в Astana IT University, Казахстан.') }}</div>
            </div>

            <div class="white-box flex">
                <img src="/static/img/team/Aidos.jpg" alt="">
                <div>{{ _('Айдос Сатан<br><br>Родился 18 мая 1999 года в Казахстане, город Шымкент. Он получил степень бакалавра в области Электрической и Электронной Инженерии в Назарбаев Университете. В настоящее время он является студентом магистратуры в Университете Генуи и работает младшим научным сотрудником в Aстана IT Университете.') }}</div>
            </div>
            
            <div class="white-box flex">
                <img src="/static/img/team/Zhans.png" alt="">
                <div>{{ _('Нурлан Жансерик, 37 лет<br><br>Образование: докторантура ЕНУ им. Л.Н. ГУМИЛЕВА Заведующий лабораторией FabLab/ МНС НИЦ "Industry 4.0" Старший научный сотрудник ПЦФ «Разработка интеллектуальных информационно-телекоммуникационных систем для городской инфраструктуры: транспорт, экология, энергетика и аналитика данных в концепте Smart City» 2021-2023, по разделу "IT для оптимизации тепло и электроэнергетической системы". Научный сотрудник Научно-Исследовательского Центра "Industry 4.0". Член Отраслевого Центра Технологических Компетенций ОЦТК «E-Industry». Член Исследовательского Центра «Samsung Research» в области 5G и 6G. Годы работы в Фирме: 09/2022 - настоящее время - Astana IT University (AITU)') }}</div>
            </div>
        </div>
    </div>
{% endblock %}